.parentContainer {
  position: relative;
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.parentContainer > iframe {
  pointer-events: none;
}

.parentContainer:hover>.controlsContainer {
  opacity: 1;
}

.video {
  height: 100%;
  width: 100%;
}

.playButton {
  position: absolute;
  width: 90px;
  height: 65px;
  top: calc(50% - 65px / 2);
  left: calc(50% - 90px / 2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.playButton>svg {
  width: 25%;
}

.loadingContainer {
  box-shadow: none;
  border-radius: 0;
}

.controlsContainer {
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: ease-in-out 0.1s opacity;
  padding-top: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.8));
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  height: 45px;
}

.button {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
}

.button:hover {
  background-color: #ffffff80;
}

.play {
  margin-left: 10px;
}

.play:hover {
  background-color: transparent;
}

.innerBar {
  border-radius: 15px;
  height: 100%;
}

.volumeContainer {
  display: flex;
  align-items: center;
}

.volumeContainer>svg {
  cursor: default;
}

.volumeBar, .progressBar {
  position: relative;
  margin-bottom: 0;
  height: 6px;
  border-radius: 15px;
  margin: 0 10px;
}

.progressBar {
  flex: 1;
  max-width: 50%;
  cursor: pointer;
}

.thumb {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.progressDisplay {
  position: absolute;
  height: 20px;
  width: 35px;
  top: -25px;
  left: -8px;
  color: white;
  text-shadow: 0px 0px 2px black;
  font-weight: bold;
}

.parentContainer:fullscreen>.controlsContainer>.controls>.progressBar {
  max-width: 100%;
}

.parentContainer:-webkit-full-screen>.controlsContainer>.controls>.progressBar {
  max-width: 100%;
}

.parentContainer:-moz-full-screen>.controlsContainer>.controls>.progressBar {
  max-width: 100%;
}

.parentContainer:-ms-fullscreen>.controlsContainer>.controls>.progressBar {
  max-width: 100%;
}

.ldsRing {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}

.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}

.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}